only-built-dependencies[]=@swc/core
only-built-dependencies[]=esbuild
only-built-dependencies[]=msw
only-built-dependencies[]=@astrojs/compiler
optional=false
network-concurrency=4
network-timeout=100000
